body {
   transform: scale(0.75);
   width: 133%;
   transform-origin: 0 0;
   padding-left: 2rem;
   height: 200rem;
}

/*  table thead { display:block; }
  table tbody { height:300px; overflow-y:scroll; display:block; }
*/

.row {
  background: #f8f9fa;
  margin-top: 20px;
}

.col {
  border: solid 1px #6c757d;
  padding: 10px;
}

.my-slidecontainer {
  width: 100%; /* Width of the outside container */
}

.my-data-slider {
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
}

/* The slider itself */
.my-slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: 0.2s; /* 0.2 seconds transition on hover */
  transition: opacity 0.2s;
}


.blue {
  color: darkcyan;
}


.red {
  color: red;
}

.green {
  color: green;
}

.official {
  color: darkorange;
  font-weight: 700;
 /* background-color: steelblue;*/
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.my-slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.my-slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

/* Mouse-over effects */
.my-slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}


.my-tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.my-tooltip .my-tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.my-tooltip .my-tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.my-tooltip:hover .my-tooltiptext {
  visibility: visible;
  opacity: 1;
}

.my-bold-text {
  text-shadow: 0.5px 0.5px #666;
}

.legendOrdinal {
  font-size: 75%;
}
.overlay-d3 {
        fill: none;
        pointer-events: all;
}

.focus-d3 circle {
        fill: steelblue;
}

.focus-d3 text {
        font-size: 14px;
}

.tooltip-d3 {
        fill: #efefefff;
        stroke: #000;
 }
 
 .tooltip-label {
    color: green;
 }

 .tooltip-d3-date, .tooltip-d3-value .tooltip-d3-realValue .tooltip-d3-newCases .tooltip-d3-official {
        font-weight: bold;
  }

/* Frame */
.data-frame {
  height: 50rem;
  overflow-y: auto;
}

/*.ftable  { font-family: arial, sans-serif; color: blue !important; } 
td, th, tr { border: 1px solid #000000; text-align: left; } 
th {color: red !important}
tr:nth-child(even) { background-color: #dddddd; } }*/
  .ftable  { 
    font-family: arial, sans-serif; 
    color: blue !important; 
    border-collapse: collapse; 
    border-spacing: 0; 
    border: 1px solid #000; 
    font-size: 1rem;
  } 
  .ftable thead {
     text-align: left; 
     background-color: lightgrey;
     border: 1px solid #000; 
  } 
  .ftable tr { border: 1px solid #000000; text-align: left;  }
  .ftable th { 
    border: 1px solid #000000;  
    text-align: center; 
    color: red !important;
    background-color: #e4bcbc;
  } 
  .ftable td { border: 1px solid #000000; text-align: left;  }
  .ftable tbody > tr:nth-child(even) { background-color: #44dddd !important; }
  .ftable tbody > tr:nth-child(odd) { background-color: white !important; }

/* Slider start */
input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
  background: #e8e8e8; /*#3071a9;*/
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #aaf; /*#3071a9;*/
  border-radius: 2px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 18px;
  background-image: url(https://nurulc.github.io/image/chrome_radial.jpg);
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 26px;
  border-radius: 18px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}

/* Slider end */

