.rendered_html tr,
.rendered_html th,
.rendered_html td {
 text-align: left;
 vertical-align: middle;
 padding: 0.42em 0.47em;
 line-height: normal;
 white-space: normal;
 max-width: none;
 border: none;
}
.rendered_html td {
 font-family: sans-serif !important;
 font-size: 9.3pt;
}
.rendered_html table {
 font-family: sans-serif !important;
 table-layout: auto !important;
 margin-left: 8px;
 margin-right: auto;
 border: none;
 border-collapse: collapse;
 border-spacing: 0;
 color: #e2e5f2;
 table-layout: fixed;
}
.rendered_html thead {
 font-family: sans-serif !important;
 font-size: 10.3pt !important;
 background: #27313d;
 color: #bbc2e1;
 border-bottom: 1px solid #27313d;
 vertical-align: bottom;
}
.rendered_html tbody tr:nth-child(odd) {
 background: #3f495a;
}
.rendered_html tbody tr {
 background: #394251;
}
.rendered_html tbody tr:hover:nth-child(odd) {
 background: #3d4757;
}
.rendered_html tbody tr:hover {
 background: #373f4e;
}
.rendered_html * + table {
 margin-top: .05em;
}



/* ****************************************************************** */
.ftable tr,
.ftable th,
.ftable td {
 text-align: left;
 vertical-align: middle;
 border: 1px dashed #8e8;
 padding: 0.42em 0.47em;
 line-height: normal;
 white-space: normal;
 max-width: none;
/* border: none;*/
}
.ftable td {
 font-family: sans-serif !important;
 font-size: 9.3pt;
}
.ftable table {
 font-family: sans-serif !important;
 margin-left: 8px;
 margin-right: auto;
 border: none;
 border-collapse: collapse;
 border-spacing: 0;
 color: #e2e5f2;
 table-layout: fixed;
}
.ftable thead {
 font-family: sans-serif !important;
 font-size: 10.3pt !important;
 background: #27313d;
 color: #bbc2e1;
 border-bottom: 1px solid #27313d;
 vertical-align: bottom;
}
.ftable tbody tr:nth-child(odd) {
 background: #3f495a;
}
.ftable tbody tr {
 background: #394251;
}
.ftable tbody tr:hover:nth-child(odd) {
 background: #3d4757;
}
.ftable tbody tr:hover {
 background: #373f4e;
}
.ftable * + table {
 margin-top: .05em;
}

.tryit {
	width: 100%;
	font-size: 2rem;
}

.tryit-display {
	min-height: 1rem;
	overflow-x: scroll ;
	overflow-y: scroll;

}

.tryit-container {
	max-width: 125rem !important;
}

